{% extends "layouts/base.njk" %}

{% block content %}
  {% for section in photos %}
    <section id="{{ section.title | slugify }}"> 
      <h2>{{ section.title }}</h2>
      {% if section.description %}
        <p>{{ section.description }}</p>
      {% endif %}

      <div class="gallery-grid">
        {% for image in section.images %}
          {% galleryImage image, section.title %}
        {% endfor %}
      </div>

      <div class="details">
        <p><svg class="ic"><use href="#ic-cal"></use></svg> {{ section.date }}</p>
        {% if section.location %}
          <p><svg class="ic"><use href="#ic-pin"></use></svg> {{ section.location }}</p>
        {% endif %}
        {% if section.camera %}
          <p><svg class="ic"><use href="#ic-cam"></use></svg> {{ section.camera }}</p>
        {% endif %}
        {% if section.tags %}
          <p class="tags">
            {% for tag in section.tags %}
              <span class="tag">{{ tag }}</span> 
            {% endfor %}
          </p>
        {% endif %}
      </div>

    </section>
  {% endfor %}
{% endblock %}